@model IEnumerable<QLRCP.Models.CinemaEtites.ShowDay>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Phim hôm nay</h2>
<h2>Phim hôm nay</h2>

<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>

            <td>

                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id })

            </td>
        </tr>
    }

</table>
